body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
	line-height: 1.5;
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.titulo-principal {
	text-align: center;
	background-color: #851944;
	color: #FFF;
	padding: 1.25rem;
	border-bottom: .5rem solid black;
	font-size: 300%;
	text-transform: uppercase;
}

p {
	text-align: justify;
	margin: 20px 0;
}

.navegacao-site {
	text-align: center;
	background-color: #3C1D3D;
	color: #F2FFFC;
}

.rodape-pagina {
	background-color: #000;
	color: #F2FFFC;
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

main a {
	color: #851944;
}

.navegacao-site a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

.citacao-bio, .navegacao-site, .rodape-pagina {
    padding: 20px;
}

.container {
	width: 720px;
	margin: auto;
	padding: 30px 0;
}

.navegacao-site h1 {
	font-size: 30px;
	margin-bottom: 25px;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.subtitulo-texto {
	font-size: 30px;
	clear: both;
}

.icones-redes-sociais li {
	display: inline-block;
}

nav a {
	text-transform: lowercase;
}

.icones-redes-sociais a {
	width: 40px;
	height: 40px;
	display: block;
	margin-top: 20px;
	position: relative;
}

.icones-redes-sociais a:hover::after, 
.icones-redes-sociais a:focus::after {
	content: attr(data-tooltip);
	position: absolute;
	top: 100%;
	right: 0;
	width: 300%;
	text-indent: 0;
	background-color: #000;
	font-size: .75em;
}

.icones-redes-sociais a:hover::before,
.icones-redes-sociais a:focus::before {
	content: '';
	width: 20px;
	height: 9px;
	background-color: #000;
	position: absolute;
	bottom: 0;
	left: 15px;
	transform: translateY(.5rem) rotate(45deg);
}


/* .icones-redes-sociais .github {
	background-image: url(/public/assets/images/github.png) no-repeat;
	text-indent: -9999px;
	background-size: contain;
}  */

main {
	float: left;
	width: calc(100% - 0.9 * 300px);/* Conta cosseno, seno */
	padding-bottom: 80px;
}

.minha-foto, .navegacao-site {
	float: right;
	box-sizing: border-box;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
}

.minha-foto {
	position: absolute;
	top: 0;
	right: 0;
}

.navegacao-site {
	width: calc(0.9 * 300px);
	position: relative;
	top: 310px;
}
